{{!-- favoritos.handlebars --}}

<!-- Seção Favoritos -->
<div class="container mt-5">
    <h2 class="text-center">Favoritos</h2>
    <div id="favoritos-lista"></div>
</div>

<script>
    // Carregar favoritos do localStorage e exibir
    document.addEventListener("DOMContentLoaded", function () {
        const favoritos = JSON.parse(localStorage.getItem('favorites')) || [];

        const listaFavoritos = document.getElementById('favoritos-lista');
        if (favoritos.length > 0) {
            const listGroup = document.createElement('div');
            listGroup.className = 'list-group';

            favoritos.forEach(favorito => {
                const item = document.createElement('div');
                item.className = 'list-group-item';
                item.innerHTML = `<h5 class="mb-1">${favorito.name} - ${favorito.price} USD</h5>`;
                listGroup.appendChild(item);
            });

            listaFavoritos.appendChild(listGroup);
        } else {
            listaFavoritos.innerHTML = '<p class="text-center">Você ainda não adicionou nenhuma criptomoeda aos favoritos.</p>';
        }
    });
</script>