{{!-- index.handlebars --}}

<!-- Seção Chamada para Ação -->
<div class="container py-5" id="chamada-para-acao">
    <div class="row align-items-center">
        <div class="col" id="action-call-left">
            <h1 class="py-2" id="h1-action-call">Descubra o preço das <span style="color: #FFB364;">criptomoedas</span> em tempo real!</h1>
            <button class="btn" id="btn-saiba-mais" onclick="window.location.href='#sobre';">
                Saiba mais
            </button>
        </div>
        <div class="col align-items-center py-5">
            <img src="/img/img-crypto.png" alt="Imagem ilustrativa de criptomoedas" class="img-fluid">
        </div>
    </div>
</div>

<!-- Exibir erro, caso exista -->
{{#if error}}
<div class="alert alert-danger text-center" role="alert">
    {{error}}
</div>
{{/if}}

<!-- Seção para exibir a criptomoeda e seu preço -->
{{#if crypto}}
<div class="container text-center mt-5">
    <h2>{{crypto.name}} - {{crypto.price_usd}} USD</h2>
</div>
{{/if}}

<!-- Seção Sobre -->
<div class="container-fluid text-center text-white py-5" id="sobre">
    <h2 class="mb-4">Sobre</h2>
    <p class="lead offset-1">O <span style="color: #FF6200; font-weight: 700;">Crypto Dashboard</span> é uma aplicação simples e intuitiva que permite que você acompanhe os preços
        de criptomoedas em tempo real.</p>
    <ul class="list-unstyled mt-4">
        <li>Consulte o valor atual de criptomoedas, como Bitcoin, Ethereum e outras.</li>
        <li>Visualize os preços em dólares (USD) de suas criptos favoritas.</li>
        <li>Obtenha informações rápidas e confiáveis sobre o mercado de criptomoedas.</li>
    </ul>
</div>