* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de pesquisa */
#barra-de-pesquisa {
    background-color: #000000 !important; /* Força o fundo da barra a ser preto */
}

#logo {
    font-weight: 700;

    color: transparent; /* Torna o texto transparente para aplicar o gradiente */
    background-clip: padding-box; /* Garante que o fundo do botão seja o fundo do botão, sem afetar o texto */
    -webkit-background-clip: padding-box; /* Para compatibilidade com Webkit */
    
    /* Estilo para aplicar o gradiente ao texto */
    background: linear-gradient(to right, #FFEEAC, #FF6200); /* Gradiente no fundo */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
}

#pesquisar {
    border-radius: 4px;
    background-color: #000000;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #FFB364, #FF6200) 1;
    display: flex;
    align-items: center;
}

#input-pesquisar {
    background-color: transparent;
    border: none;
    color: #FFFFFF; /* Texto (e valor) do campo de pesquisa branco */
    padding: 8px 12px;
    font-size: 14px;
    width: 250px;
}

/* Cor do texto do placeholder */
#input-pesquisar::placeholder {
    color: #7F7F7F; /* Cor branca para o texto do placeholder */
}

#img-pesquisar {
    width: 29px;
    height: 29px;
    margin-left: 10px;
}

/* Seção Chamada para Ação */
#chamada-para-acao {
    height: 85vh;
    text-align: center;
}

#h1-action-call {
    font-size: 54px !important;
    font-weight: 700 !important;
}

/* #action-call-left {
    align-items: start !important;
} */

#btn-saiba-mais {
    border-radius: 4px;
    background-color: #000000; /* Fundo preto */
    border: 2px solid transparent; /* Borda transparente inicialmente */
    border-image: linear-gradient(to right, #FFB364, #FF6200) 1; /* Gradiente na borda */
    color: transparent; /* Torna o texto transparente para aplicar o gradiente */
    background-clip: padding-box; /* Garante que o fundo do botão seja o fundo do botão, sem afetar o texto */
    -webkit-background-clip: padding-box; /* Para compatibilidade com Webkit */
    
    /* Estilo para aplicar o gradiente ao texto */
    background: linear-gradient(to right, #FFB364, #FF6200); /* Gradiente no fundo */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
}

#chamada-para-acao h1 {
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
}

#chamada-para-acao img {
    max-width: 100%;
}

/* Seção Sobre */
#sobre {
    background: linear-gradient(to bottom, #000000, #FF6200);
    min-height: 50vh;
}

#sobre h2 {
    font-size: 36px;

    border-radius: 4px;
    background-color: #000000; /* Fundo preto */
    border: 2px solid transparent; /* Borda transparente inicialmente */
    border-image: linear-gradient(to right, #FFB364, #FF6200) 1; /* Gradiente na borda */
    color: transparent; /* Torna o texto transparente para aplicar o gradiente */
    background-clip: padding-box; /* Garante que o fundo do botão seja o fundo do botão, sem afetar o texto */
    -webkit-background-clip: padding-box; /* Para compatibilidade com Webkit */
    
    /* Estilo para aplicar o gradiente ao texto */
    background: linear-gradient(to right, #FFB364, #FF6200); /* Gradiente no fundo */
    -webkit-background-clip: text; /* Aplica o gradiente ao texto */
    color: transparent; /* Torna o texto transparente para mostrar o gradiente */
}

ul li {
    padding: 10px 0;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}